<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <title>KML parser</title>
    <script src="../js/KmlMapParser.js"></script>
    <script src="../js/index.js"></script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGKMFSydIF47MXdUX8B_hLA4SW_dmb2t0&callback=initMap"></script> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB53bhx3k6Y5A2_n3eZSTIrCpuSPPqxqGY"
    async defer></script> -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    


</head>
  <body>

    <h1>KML</h1>
  </body>
</html>
