<!DOCTYPE html>
<!--

       _..oo8"""Y8b.._
     .88888888o.    "Yb.
   .d888P""Y8888b      "b.
  o88888    88888)       "b
 d888888b..d8888P         'b
 88888888888888"           8
(88DWB8888888P             8)
 8888888888P               8
 Y88888888P     ee        .P
  Y888888(     8888      oP
   "Y88888b     ""     oP"
     "Y8888o._     _.oP"
       `""Y888boodP""'

-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <title>KML parser</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/spinneropts.js"></script>
    <script src="../js/togeojson.js"></script>
    <script src="../js/index.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/spin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="../js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../css/sweetalert2.min.css">
  </head>
  <body>
    <div id ="bounds" class = "container-wd-100">
      <hr class = "line">
      <h2>KML Parser!</h2>
      <span class = "author"><span>BY ENZOROBAINA</span></span>
      <div id = "kml-source">
      <h5>KML source is...</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id = "link-btn" type="button" class="btn btn-secondary">Link</button>
            <button id = "file-btn" type="button" class="btn btn-secondary">File</button>
            <button id = "text-btn" type="button" class="btn btn-secondary">Text</button>
        </div>
      </div>
      
      <div id = "text" class = "hidden">
        <textarea class="shadow form-control" id="kml-textarea" rows="30" style="width:40%" placeholder="Paste your KML here!"></textarea>
        <div class = "cbuttons">
          <button id = "text-parse" type="button" class="btn btn-secondary">Parse!</button>
          <button id = "text-parse-array" type="button" class="btn btn-outline-secondary">I need an array of coordinates</button>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="styles-text">
            <label class="form-check-label" for="styles-text">
              Keep styles
            </label>
          </div>
        </div>
      </div>

      <div id = "link" class = "hidden">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type = "text" class = "shadow form-control" id = "link-text" placeholder="Paste your link here!">
            </div>
        </div>
        <div class = "cbuttons">
            <button id = "link-parse" type="button" class="btn btn-secondary">Parse!</button>
            <button id = "link-parse-array" type="button" class="btn btn-outline-secondary">I need an array of coordinates</button>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="styles-link">
                <label class="form-check-label" for="styles-link">
                  Keep styles
                </label>
            </div>
        </div>  
      </div>

      <div id = "file" class = "hidden">
          <input id="kml-file" type="file" class="form-control-file" accept=".kml"> 
          <div class = "cbuttons">
              <button id = "file-parse" type="button" class="btn btn-secondary">Parse!</button>
              <button id = "file-parse-array" type="button" class="btn btn-light">I need an array of coordinates</button>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="styles-file">
                <label class="form-check-label" for="styles-file">
                  Keep styles
                </label>
              </div>
          </div>
      </div>

      <div id = "output" class = "hidden">
          <button style = "margin-bottom:2%;" id = "copy" type = "button" class = "btn btn-light"><i style="margin-right:3%" class="far fa-clipboard"></i><span class = "ctext">Copy to clipboard</span></button>
          <textarea class="shadow form-control" id="kml-output" style="width:40%" rows="30" readonly></textarea>
      </div>
      
    </div>
    <div style = "margin-top:10%;margin-bottom:3%;">
      <a id = "read-more" class = "read-more" href="https://github.com/EnzoRobaina/Javascript-KML-Parser" target="_blank">About</a>
    </div>
    <script type="text/javascript" src="../js/spin.js"></script>
  </body>
</html>
